<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Reimbursement Claim</a>
    </div>
    <ul class="nav navbar-nav">
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Help</a></li>
      <li><a href=""><span class="glyphicon glyphicon-log-in" routerLink="/Welcome"></span>Logout</a></li>
    </ul>
  </div>
</nav>

<html>
    <body style="background-color: lightblue;">
     
      <h1 class="center"><b>Your submission has been successful!</b></h1>
      <p class="center">Thanks! We have received your submission, and we'll be in touch really soon.</p>
      <br>
      <img src="https://th.bing.com/th/id/R.c6c690d1b976dafa4797009c5fb99caa?rik=%2bfb3Xg%2faO8Awwg&riu=http%3a%2f%2flostnationtheater.org%2fclient_media%2fimages%2fThankyou-Featured-Image.jpg&ehk=XMHWjcaNhRdYVUJQ6t3DaMnCT9FeHuc2H7HbLOZsF7M%3d&risl=&pid=ImgRaw&r=0" alt="Your Image Description" style="display: block; margin: 0 auto; height: 10cm; width: 27cm;">
    </body>
  </html>
 <br>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Reimbursement Claim</a>
    </div>
  </div>
</nav>