<header class="header">
    <img src="../assets/Images/9.png" alt="Refund Icon" style="width: 5cm; height: 2cm;">
      
      <nav class="nav-items">
        <a href=""  >Home</a>
        <a class='fas fa-chalkboard' href="/about">About</a>
        <a class='fas fa-phone-alt' href="/contact">Contact</a>
       
        
      </nav>
    </header>
    
    <div>
        <div>
   
    <div class="content"  >
      <br>
      <div>
      <html>
        <h1>Contact Information</h1>
    
        <div class="contact-info">
          <p><i class="fas fa-user"></i> <strong style="font-weight: bold;">Name:</strong> John Doe</p>
          <p><i class="fas fa-envelope"></i> <strong style="font-weight: bold;">Email:</strong> john.doe@example.com</p>
          <p><i class="fas fa-phone"></i> <strong style="font-weight: bold;">Phone:</strong> 123-456-7890</p>
          <p><i class="fas fa-map-marker-alt"></i> <strong style="font-weight: bold;">Address:</strong> 123 Main St, City, State, ZIP</p>
        </div>

<br>

    
    
      <footer class="footer">
        <div class="copy">© 2022 Developer</div>
        <div class="bottom-links">
          <div class="links">
            <span>More Info</span>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
          </div>
          <div class="links">
            <span>Social Links</span>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </footer>