<header class="header">
    <img src="../assets/Images/9.png" alt="Refund Icon" style="width: 5cm; height: 2cm;">
      
      <nav class="nav-items">
        <a class='fas fa-clipboard' href="/dashboard" >Dashboard</a>
        <a class='fas fa-chalkboard' href="/empabout">About</a>
        <a class='fas fa-phone-alt' href="/hcontact">Contact</a>
       
       
        
      </nav>
    </header>
    
    <div>
        <div>
   
    <div class="content"  >
      <br>
      <div>
      <html>
    <h4>The purpose of a reimbursement application is to request repayment or compensation for expenses incurred by an individual or organization. Reimbursement applications are typically submitted when someone has paid for certain expenses out of their own pocket and is seeking reimbursement from a company, employer, or institution.</h4>
    <br>
    <h4>Types of Reimbursement That our Reimbursement Application Used for:</h4>
    <br>
    <h4><em style="color: rgb(211, 83, 83);">Employee Expense Reimbursement:</em> Employees often submit reimbursement applications to request repayment for business-related expenses, such as travel expenses, meal costs, accommodation, or office supplies that were purchased on behalf of the company.</h4>
<h4><em style="color: rgb(211, 83, 83);">Medical Expense Reimbursement:</em> Individuals may submit reimbursement applications to their health insurance provider or employer to seek reimbursement for medical expenses, including doctor's visits, prescription medications, hospital stays, or medical procedures.</h4>
<h4><em style="color: rgb(211, 83, 83);">Business Expense Reimbursement:</em> Entrepreneurs, freelancers, or small business owners often submit reimbursement applications to request reimbursement for business-related expenses, such as client entertainment, advertising costs, office equipment, or travel expenses.</h4>
<h4><em style="color: rgb(211, 83, 83);">Travel Expense Reimbursement:</em> Individuals who have traveled for work-related purposes, such as attending conferences or meetings, may submit reimbursement applications to their company or employer to receive reimbursement for travel-related expenses, including airfare, hotel accommodation, meals, or ground transportation.</h4>

<br>

    
    
      <footer class="footer">
        <div class="copy">© 2022 Developer</div>
        <div class="bottom-links">
          <div class="links">
            <span>More Info</span>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
          </div>
          <div class="links">
            <span>Social Links</span>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </footer>