
   



    
<header class="header">
  <img src="../assets/Images/9.png" alt="Refund Icon" style="width: 5cm; height: 2cm;">
  
  <nav class="nav-items">
    <a class='fas fa-clipboard' href="/admindash"  >Dashboard</a>
    <button class="btn btn-danger"><a href="" >Logout <i class='fas fa-sign-out-alt'></i></a></button>
    
  </nav>
</header>



                
                
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="sidebar">
  <br>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../assets/Images/man.png" alt="Refund Icon" style="width: 3cm; height: 2cm;">
  <h3 class="nav-items">{{loggedInUser}}</h3>
  
  
  <a class="active" href="/register">Add Login Credential</a>
  <a href="/addemp">Add Employee</a>
  <a href="/viewemp">Employee List</a>
 
</div>


<div class="content"  >
  <br>
  <br>
<div class="button-group">
    &nbsp;&nbsp;&nbsp;&nbsp;<button class="button pending"><i class="fas fa-clock"></i><a style="color:rgb(255, 255, 255)" href="/employee" >PENDING</a></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button class="button approved"><i class="fas fa-check-circle"></i><a style="color:rgb(255, 255, 255)" href="/approved">APPROVED</a></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button class="button rejected"><i class="fas fa-times-circle"></i><a style="color:rgb(255, 255, 255)" href="/reject" >REJECTED</a></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button class="button overall"><i class="fas fa-chart-pie" ></i><a style="color:rgb(255, 255, 255)" href="/details" >OVERALL</a></button>
</div>

 
</div>

</body>
</html>



<footer class="footer">
  <div class="copy">© 2022 Developer</div>
  <div class="bottom-links">
    <div class="links">
      <span>More Info</span>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="links">
      <span>Social Links</span>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
  